body {
    background-color: rgb(180, 213, 248);
      background-image: url(svet.jpg);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(108, 175, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
  }
  
  li a:hover {
    background-color: rgb(89, 166, 248);
  }
  .active {
    background-color: rgb(55, 149, 250);
  }

  div {
    color: white;
    padding: 30px;
    margin: 30px;
    border-radius: 25px;
  }
  #hlavny {
    background-color: rgba(120, 201, 142, 0.664);
    height: 700px;
  }
  #fotky1 {
    margin-left: 350px;
    margin-top: -580px;
    display: flex;
  }
  #fotky2 {
    margin-left: 350px;
    margin-top: -100px;
    display: flex;
  }
  #poslednafotka {
    margin-left: 1400px;
    margin-top: -500px;
  }

  input[type="radio"] {
    display: grid;
}
.radio-button {
    display: grid;
    padding: 12px;
    margin: 10px;
    width: fit-content;
    font-size: x-large;
    color: white;
    background-color: rgb(183,223,206);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="radio"]:checked + .radio-button {
    background-color: rgb(97, 177, 118);
}

  footer {
    background-color: rgba(120, 201, 142);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 98%;
    position: absolute;
    bottom: 0; 
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    background-color: rgb(161, 209, 174);
  }
  .container input:checked{
    background-color: rgb(97, 177, 118);
  }

  button {
    background-color: rgba(120, 201, 142);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: large;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #bp1fyz {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1atm {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1lit {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1hyd {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1ras {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1ziv {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1ped {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1hum {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #bp1clo {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  #obrazkyatm {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }
  #obrazkyras {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }
  #obrazkyziv {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }
  #obrazkyhum {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }
  #obrazkyhyd {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }
  #obrazkylit {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }
  #obrazkyped {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    border-radius: 25px;
    border-color: rgb(97, 177, 118);
    padding: 10px;
    margin: 10px;
  }


  img {
    max-width: 300px;
    max-height: 300px;
    
  }

  .lit {
    background-color: yellow;
    color: black;
  }

  #img1 {
    top: 500px; left: 1500px
  }