body {
    background-color: rgb(180, 213, 248);
      background-image: url(svet.jpg);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      color: white;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(108, 175, 247);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-radius: 25px;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-radius: 25px;
    }
    
    li a:hover {
      background-color: rgb(89, 166, 248);
    }
    .active {
      background-color: rgb(55, 149, 250);
    }
  
    div {
      color: white;
      padding: 20px;
      margin: 20px;
      border-radius: 25px;
    }
    #hlavny{
      background-color: rgba(120, 201, 142, 0.664);
      height: 700px;
    }
    #stlpecprvy{
      width: fit-content;
      height: fit-content;
    }
    #stlpecdruhy{
      width: 315px;
      height: fit-content;
      margin-left: auto;
      margin-top: -725px;
    }
    #tabulka {
      background-color: rgb(97, 177, 118);
      width: 40%;
      height: 70%;
      margin-top: -650px;
      margin-left: 500px;
    }
    #napis {
      background-color: rgba(97, 177, 118, 0.568);
      font-size: x-large;
      margin: 0px;
      padding: 10px;
    }
    #print


    footer {
      background-color: rgba(120, 201, 142);
      color: white;
      padding: 10px;
      margin: 10px;
      border-radius: 25px;
      width: 98%;
      position: absolute;
      bottom: 0; 
    }
  
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      background-color: rgb(161, 209, 174);
    }
    .container input:checked{
      background-color: rgb(97, 177, 118);
    }
  
    button {
      background-color: rgba(120, 201, 142);
      color: white;
      border-radius: 25px;
      border-color: rgb(97, 177, 118);
      font-size: large;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  
    input[type="radio"] {
        display: grid;
    }
    .radio-button {
        display: grid;
        padding: 12px;
        margin: 10px;
        width: fit-content;
        font-size: x-large;
        color: white;
        background-color: rgb(183,223,206);
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    input[type="radio"]:checked + .radio-button {
        background-color: rgb(97, 177, 118);
    }
    
    #bp2atm1 {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }
      #bp2hyd {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }
      #bp2ped {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }
      #bp2lit {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }
      #bp2clo {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }
      #bp2ras {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }
      #bp2ziv {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
      }  
      #bp2atm2 {
        background-color: rgba(255, 255, 255, 0.37);
        color: white;
        border-radius: 25px;
        border-color: rgb(97, 177, 118);
        font-size: x-large;
        padding: 10px;
        margin: right;
        display: flex;
        flex-direction: column;
      }